/* src/App.css */

.App {
  text-align: center;
  margin-top: 50px;
}

.form {
  margin: 20px 0;
}

.form input {
  padding: 8px;
  margin-right: 10px;
  width: 200px;
}

.form button {
  padding: 8px 15px;
  color: #ffffff;
  background-color: #6c6c6c;
}

.weather-card {
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  display: inline-block;
  min-width: 300px;
}

.error-message {
  color: #ffe375;
  font-weight: bold;
  margin-top: 20px;
}

.favorite-status {
  font-weight: bold;
  color: rgb(102, 194, 163);
  margin-top: 10px;
}

.dashboard {
  margin-top: 30px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 20px;
  margin-top: 10px;
  padding: - 20px;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  border: 1px solid #CCC;
  border-top: none;
  width: 216px;
  text-align: left;
}
.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}
.suggestions-list li:hover {
  background-color: #f0f0f0;
}